{
  "versioning": {
    "version": "0.11.0",
    "pre_release_version": "rc1"
  },
  "RepoList": [
    "openwhisk-apigateway"
  ],
  "openwhisk_apigateway": {
    "name": "OpenWhisk API Gateway",
    "hash": "b80ce4db0828f9cc4250688023214103199235c2",
    "repository": "https://github.com/apache/openwhisk-apigateway.git",
    "branch": "master"
  }
}
