{
  "versioning": {
    "version": "3.21.9",
    "pre_release_version": "rc2"
  },
  "RepoList": [
    "openwhisk-client-js"
  ],
  "openwhisk_client_js": {
    "name": "OpenWhisk Client Js",
    "hash": "56d529d4d6d3bc29a266eec417742465440c839a",
    "repository": "https://github.com/apache/openwhisk-client-js.git",
    "branch": "master"
  }
}
