{
  "versioning": {
    "version": "3.21.4",
    "pre_release_version": "rc1"
  },
  "RepoList": [
    "openwhisk-client-js"
  ],
  "openwhisk_client_js": {
    "name": "OpenWhisk Client Js",
    "hash": "c697f0be4a254a4d0ff8f98c4e746f479072fb7a",
    "repository": "https://github.com/apache/openwhisk-client-js.git",
    "branch": "master"
  }
}
