{
  "versioning": {
    "version": "3.21.7",
    "pre_release_version": "rc1"
  },
  "RepoList": [
    "openwhisk-client-js"
  ],
  "openwhisk_client_js": {
    "name": "OpenWhisk Client Js",
    "hash": "95f66ca1148ed489060627187e1ddbfb6052cfb5",
    "repository": "https://github.com/apache/openwhisk-client-js.git",
    "branch": "master"
  }
}
