{
  "versioning": {
    "version": "1.0.0",
    "pre_release_version": "rc1"
  },
  "RepoList": [
    "openwhisk-deploy-kube"
  ],
  "openwhisk_deploy_kube": {
    "name": "OpenWhisk Deploy Kubernetes",
    "hash": "67e93b1a2e1dd9a339fc7d3e93bd087ad0ff097b",
    "repository": "https://github.com/apache/openwhisk-deploy-kube.git",
    "branch": "1.0.0"
  }
}
