{
  "versioning": {
    "version": "1.0.0",
    "pre_release_version": "rc1"
  },
  "RepoList": [
    "openwhisk-intellij-plugin"
  ],
  "openwhisk_intellij_plugin": {
    "name": "OpenWhisk Intellij Plugin",
    "hash": "4034a966546b53a16d0f7753a3301c7518ee034b",
    "repository": "https://github.com/apache/openwhisk-intellij-plugin.git",
    "branch": "master",
    "copyright": "2020-2021"
  }
}
