{
  "versioning": {
    "version": "1.0.1",
    "pre_release_version": "rc1"
  },
  "RepoList": [
    "openwhisk-intellij-plugin"
  ],
  "openwhisk_intellij_plugin": {
    "name": "OpenWhisk Intellij Plugin",
    "hash": "95582e6328b493fe470e2c7d9af120d7292658ac",
    "repository": "https://github.com/apache/openwhisk-intellij-plugin.git",
    "branch": "master"
  }
}
