{
  "versioning": {
    "version": "1.0.0",
    "pre_release_version": "rc3"
  },
  "RepoList": [
    "OpenWhisk"
  ],
  "OpenWhisk": {
    "name": "OpenWhisk",
    "hash": "2c621c0733befdadadb5f25f167fe575d1b15739",
    "repository": "https://github.com/apache/openwhisk.git",
    "branch": "1.0.0"
  }
}
