{
  "versioning": {
    "version": "2.1.0",
    "pre_release_version": "rc1"
  },
  "RepoList": [
    "openwhisk-package-kafka"
  ],
  "openwhisk_package_kafka": {
    "name": "OpenWhisk Package Kafka",
    "hash": "5ed2edc76969581b903043411d5b61a84a72c25a",
    "repository": "https://github.com/apache/openwhisk-package-kafka.git",
    "branch": "master"
  }
}
