{
  "versioning": {
    "version": "2.3.0",
    "pre_release_version": "rc1"
  },
  "RepoList": [
    "openwhisk-package-alarms"
  ],
  "openwhisk_package_alarms": {
    "name": "OpenWhisk Package Alarms",
    "hash": "a5d69be420654b41bef50f1671f314b9e1cd7894",
    "repository": "https://github.com/apache/openwhisk-package-alarms.git",
    "branch": "master"
  }
}
