{
  "versioning": {
    "version": "1.19.0",
    "pre_release_version": "rc1"
  },
  "RepoList": [
    "openwhisk-runtime-python"
  ],
  "openwhisk_runtime_python": {
    "name": "OpenWhisk Runtime Python",
    "hash": "944d7a840f0622d4c09827a8d6339d95245bcb3f",
    "repository": "https://github.com/apache/openwhisk-runtime-python.git",
    "branch": "master"
  }
}
