{
  "versioning": {
    "version": "1.18.0",
    "pre_release_version": "rc1"
  },
  "RepoList": [
    "openwhisk-runtime-nodejs"
  ],
  "openwhisk_runtime_nodejs": {
    "name": "OpenWhisk Runtime Node.js",
    "hash": "1e107825154db9c73b386d0999eb68c5d3df7161",
    "repository": "https://github.com/apache/openwhisk-runtime-nodejs.git",
    "branch": "master"
  }
}
