{
  "versioning": {
    "version": "1.2.0",
    "pre_release_version": "rc1"
  },
  "RepoList": [
    "openwhisk-runtime-rust"
  ],
  "openwhisk_runtime_rust": {
    "name": "OpenWhisk Runtime Rust",
    "hash": "89a6381f22da364dba8a26d6bc983e4e01310759",
    "repository": "https://github.com/apache/openwhisk-runtime-rust.git",
    "branch": "master"
  }
}
