{
  "versioning": {
    "version": "1.15.0",
    "pre_release_version": "rc1"
  },
  "RepoList": [
    "openwhisk-runtime-docker"
  ],
  "openwhisk_runtime_docker": {
    "name": "OpenWhisk Runtime Docker",
    "hash": "1d8a6edb4ee7e4883a2f94d6fbc5fc0d330bb26b",
    "repository": "https://github.com/apache/openwhisk-runtime-docker.git",
    "branch": "master"
  }
}
