{
  "versioning": {
    "version": "1.15.0",
    "pre_release_version": "rc1"
  },
  "RepoList": [
    "openwhisk-runtime-dotnet"
  ],
  "openwhisk_runtime_dotnet": {
    "name": "OpenWhisk Runtime Dotnet",
    "hash": "5c23d6c6c5bf48486fe537befb0f8b00a908a36f",
    "repository": "https://github.com/apache/openwhisk-runtime-dotnet.git",
    "branch": "master"
  }
}
