{
  "versioning": {
    "version": "1.19.0",
    "pre_release_version": "rc1"
  },
  "RepoList": [
    "openwhisk-runtime-java"
  ],
  "openwhisk_runtime_java": {
    "name": "OpenWhisk Runtime Java",
    "hash": "fdda52b01913754f31bf5cadcb165eaf2131a007",
    "repository": "https://github.com/apache/openwhisk-runtime-java.git",
    "branch": "master"
  }
}
