{
  "versioning": {
    "version": "1.20.0",
    "pre_release_version": "rc1"
  },
  "RepoList": [
    "openwhisk-runtime-python"
  ],
  "openwhisk_runtime_python": {
    "name": "OpenWhisk Runtime Python",
    "hash": "b85d85642155bf39ccbce4c3b490d587f2029178",
    "repository": "https://github.com/apache/openwhisk-runtime-python.git",
    "branch": "master"
  }
}
