{
  "versioning": {
    "version": "1.14.0",
    "pre_release_version": "rc1"
  },
  "RepoList": [
    "openwhisk-runtime-dotnet"
  ],
  "openwhisk_runtime_dotnet": {
    "name": "OpenWhisk Runtime Dotnet",
    "hash": "a9b70ca4b194bb21691da0f8a4131a765ea6ab19",
    "repository": "https://github.com/apache/openwhisk-runtime-dotnet.git",
    "branch": "master"
  }
}
