{
  "versioning": {
    "version": "1.17.0",
    "pre_release_version": "rc1"
  },
  "RepoList": [
    "openwhisk-runtime-java", 
    "openwhisk-runtime-php", 
    "openwhisk-runtime-python", 
    "openwhisk-runtime-ruby", 
    "openwhisk-runtime-swift"
  ],
  "openwhisk_runtime_java": {
    "name": "OpenWhisk Runtime Java",
    "hash": "224d1c505d8b86ce61bc8589d5ddbd2f77f078f5",
    "repository": "https://github.com/apache/openwhisk-runtime-java.git",
    "branch": "master"
  },
  "openwhisk_runtime_php": {
    "name": "OpenWhisk Runtime PHP",
    "hash": "d664667735f5fbd32f0ec65cea58348393af4ed5",
    "repository": "https://github.com/apache/openwhisk-runtime-php.git",
    "branch": "master"
  },
  "openwhisk_runtime_python": {
    "name": "OpenWhisk Runtime Python",
    "hash": "16c608107beee74078eaf47c82a1db4e24602b38",
    "repository": "https://github.com/apache/openwhisk-runtime-python.git",
    "branch": "master"
  },
  "openwhisk_runtime_ruby": {
    "name": "OpenWhisk Runtime Ruby",
    "hash": "a6bb6a78cc0bd0e54912b4638dfa02844118bad7 ",
    "repository": "https://github.com/apache/openwhisk-runtime-ruby.git",
    "branch": "master"
  },
  "openwhisk_runtime_swift": {
    "name": "OpenWhisk Runtime Swift",
    "hash": "60fb30cbd17f967736b4309d17f706ff26279e2f",
    "repository": "https://github.com/apache/openwhisk-runtime-swift.git",
    "branch": "master"
  }
}
