{
  "versioning": {
    "version": "1.15.0",
    "pre_release_version": "rc1"
  },
  "RepoList": [
    "openwhisk-runtime-java", 
    "openwhisk-runtime-php", 
    "openwhisk-runtime-python", 
    "openwhisk-runtime-ruby", 
    "openwhisk-runtime-swift"
  ],
  "openwhisk_runtime_java": {
    "name": "OpenWhisk Runtime Java",
    "hash": "accb33ca0a552e2153c4218ad54178ba7241b910",
    "repository": "https://github.com/apache/openwhisk-runtime-java.git",
    "branch": "master"
  },
  "openwhisk_runtime_php": {
    "name": "OpenWhisk Runtime PHP",
    "hash": "861611663629ff0246ca87d926c5aa53f4e62866",
    "repository": "https://github.com/apache/openwhisk-runtime-php.git",
    "branch": "master"
  },
  "openwhisk_runtime_python": {
    "name": "OpenWhisk Runtime Python",
    "hash": "95f1358cbd27847ee7e67ece6ec294837ae522c3",
    "repository": "https://github.com/apache/openwhisk-runtime-python.git",
    "branch": "master"
  },
  "openwhisk_runtime_ruby": {
    "name": "OpenWhisk Runtime Ruby",
    "hash": "98a23d47d890923c9187ee77e7b95d7d6a07d8e3",
    "repository": "https://github.com/apache/openwhisk-runtime-ruby.git",
    "branch": "master"
  },
  "openwhisk_runtime_swift": {
    "name": "OpenWhisk Runtime Swift",
    "hash": "508a622d0477100ac6e40b28c8f9526b8009c0b2",
    "repository": "https://github.com/apache/openwhisk-runtime-swift.git",
    "branch": "master"
  }
}
