{
  "versioning": {
    "version": "1.20.0",
    "pre_release_version": "rc1"
  },
  "RepoList": [
    "openwhisk-runtime-php"
  ],
  "openwhisk_runtime_php": {
    "name": "OpenWhisk Runtime PHP",
    "hash": "0b932618be21a9ba88732f23f34d79895b7b360d",
    "repository": "https://github.com/apache/openwhisk-runtime-php.git",
    "branch": "master"
  }
}
