{
  "versioning": {
    "version": "1.14.0",
    "pre_release_version": "rc1"
  },
  "RepoList": [
    "openwhisk-runtime-docker", 
    "openwhisk-runtime-java", 
    "openwhisk-runtime-php", 
    "openwhisk-runtime-ruby", 
    "openwhisk-runtime-swift"
  ],
  "openwhisk_runtime_docker": {
    "name": "OpenWhisk Runtime Docker",
    "hash": "60a6475c65e16fedd280e03f06cba27831289737",
    "repository": "https://github.com/apache/openwhisk-runtime-docker.git",
    "branch": "master"
  },
  "openwhisk_runtime_java": {
    "name": "OpenWhisk Runtime Java",
    "hash": "3faee44ba46151b8548bfbbd7764d89d1b201b54",
    "repository": "https://github.com/apache/openwhisk-runtime-java.git",
    "branch": "master"
  },
  "openwhisk_runtime_php": {
    "name": "OpenWhisk Runtime PHP",
    "hash": "71e7908a1ee57b4f362a147b66b04c6078b13fab",
    "repository": "https://github.com/apache/openwhisk-runtime-php.git",
    "branch": "master"
  },
  "openwhisk_runtime_ruby": {
    "name": "OpenWhisk Runtime Ruby",
    "hash": "5d7b54ec2e775db5c464347dbb4241cefcc7c470",
    "repository": "https://github.com/apache/openwhisk-runtime-ruby.git",
    "branch": "master"
  },
  "openwhisk_runtime_swift": {
    "name": "OpenWhisk Runtime Swift",
    "hash": "70cfc59f12e38f2b5e98292d8e617397f6796d3d",
    "repository": "https://github.com/apache/openwhisk-runtime-swift.git",
    "branch": "master"
  }
}
