{
  "versioning": {
    "version": "1.0.0",
    "pre_release_version": "rc1"
  },
  "RepoList": [
    "openwhisk-runtime-rust"
  ],
  "openwhisk_runtime_rust": {
    "name": "OpenWhisk Runtime Rust",
    "hash": "bdbdee54739bdd36b879e09fc236078d1bfaedbb",
    "repository": "https://github.com/apache/openwhisk-runtime-rust.git",
    "branch": "master"
  }
}
