{
  "versioning": {
    "version": "1.0.0",
    "pre_release_version": "rc2"
  },
  "RepoList": [
    "openwhisk-runtime-rust"
  ],
  "openwhisk_runtime_rust": {
    "name": "OpenWhisk Runtime Rust",
    "hash": "3fdec10a9991cc99785deaff20e6d49ede939368",
    "repository": "https://github.com/apache/openwhisk-runtime-rust.git",
    "branch": "master"
  }
}
