{
  "versioning": {
    "version": "1.18.0",
    "pre_release_version": "rc1"
  },
  "RepoList": [
    "openwhisk-runtime-java"
  ],
  "openwhisk_runtime_java": {
    "name": "OpenWhisk Runtime Java",
    "hash": "725d6c40eea775d95f47073b92322bdd8f42ea6e",
    "repository": "https://github.com/apache/openwhisk-runtime-java.git",
    "branch": "master"
  }
}
