{
  "versioning": {
    "version": "1.16.0",
    "pre_release_version": "rc1"
  },
  "RepoList": [
    "openwhisk-runtime-java",
    "openwhisk-runtime-python",
    "openwhisk-runtime-ruby"
  ],
  "openwhisk_runtime_java": {
    "name": "OpenWhisk Runtime Java",
    "hash": "a23100707ca84924edb61f00e4576d32c43e3ed1",
    "repository": "https://github.com/apache/openwhisk-runtime-java.git",
    "branch": "master"
  },
  "openwhisk_runtime_python": {
    "name": "OpenWhisk Runtime Python",
    "hash": "0e9b0ea53bb32911eccba0bdc2a748c9e7153080",
    "repository": "https://github.com/apache/openwhisk-runtime-python.git",
    "branch": "master"
  },
  "openwhisk_runtime_ruby": {
    "name": "OpenWhisk Runtime Ruby",
    "hash": "3b8742b455a77f1a12684629877190d3dee192a0",
    "repository": "https://github.com/apache/openwhisk-runtime-ruby.git",
    "branch": "master"
  }
}
