{
  "versioning": {
    "version": "1.1.0",
    "pre_release_version": "rc1"
  },
  "RepoList": [
    "openwhisk-vscode-extension"
  ],
  "openwhisk_vscode_extension": {
    "name": "OpenWhisk VSCode Extension",
    "hash": "c50eeabeec8fcc64ad7650d50144b681823d7761",
    "repository": "https://github.com/apache/openwhisk-vscode-extension.git",
    "branch": "master"
  }
}
